IoT Devices_Networking/Week3/node-red2.json
[
    {
        "id": "6331256b.903b9c",
        "type": "tab",
        "label": "MQTT Node-Red App",
        "disabled": false,
        "info": ""
    },
    {
        "id": "458f1750.828d28",
        "type": "mqtt out",
        "z": "6331256b.903b9c",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "99cbfe0c.32b23",
        "x": 70,
        "y": 160,
        "wires": []
    },
    {
        "id": "28c31e66.f4e442",
        "type": "mqtt in",
        "z": "6331256b.903b9c",
        "name": "",
        "topic": "devices/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "99cbfe0c.32b23",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "506ff3b9.42a0bc"
            ]
        ]
    },
    {
        "id": "85f1be74.1cf89",
        "type": "debug",
        "z": "6331256b.903b9c",
        "name": "Published Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "df580501.49f7c8",
        "type": "switch",
        "z": "6331256b.903b9c",
        "name": "Anomaly Detection",
        "property": "payload.device_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "bc959c35.5cfe2"
            ],
            [
                "83302ef1.fdc3b"
            ],
            [
                "c5ddc894.e82998"
            ]
        ]
    },
    {
        "id": "bc959c35.5cfe2",
        "type": "switch",
        "z": "6331256b.903b9c",
        "name": "temp anomaly",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "27",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "23",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "ac8b13dd.4337f",
                "36968cdd.ad6694"
            ],
            [
                "ac8b13dd.4337f",
                "36968cdd.ad6694"
            ]
        ]
    },
    {
        "id": "ac8b13dd.4337f",
        "type": "debug",
        "z": "6331256b.903b9c",
        "name": "Temperature anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 60,
        "wires": []
    },
    {
        "id": "506ff3b9.42a0bc",
        "type": "function",
        "z": "6331256b.903b9c",
        "name": "",
        "func": "\nmessage = JSON.parse(msg.payload)\n\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 220,
        "y": 260,
        "wires": [
            [
                "85f1be74.1cf89",
                "df580501.49f7c8",
                "358636de.e0beea"
            ]
        ]
    },
    {
        "id": "c5ddc894.e82998",
        "type": "switch",
        "z": "6331256b.903b9c",
        "name": "co2 anomaly",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "22",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "18",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "fab5941f.f07388",
                "36968cdd.ad6694"
            ],
            [
                "36968cdd.ad6694",
                "fab5941f.f07388"
            ]
        ]
    },
    {
        "id": "83302ef1.fdc3b",
        "type": "switch",
        "z": "6331256b.903b9c",
        "name": "humidity anomaly",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "41",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "39",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 260,
        "wires": [
            [
                "495eb4e5.ed209c",
                "36968cdd.ad6694"
            ],
            [
                "36968cdd.ad6694",
                "495eb4e5.ed209c"
            ]
        ]
    },
    {
        "id": "fab5941f.f07388",
        "type": "debug",
        "z": "6331256b.903b9c",
        "name": "CO2 Anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "495eb4e5.ed209c",
        "type": "debug",
        "z": "6331256b.903b9c",
        "name": "Humidity Anomaly ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 340,
        "wires": []
    },
    {
        "id": "358636de.e0beea",
        "type": "mongodb out",
        "z": "6331256b.903b9c",
        "mongodb": "28887bfc.5db4e4",
        "name": "Raw data",
        "collection": "raw_published_data",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "36968cdd.ad6694",
        "type": "mongodb out",
        "z": "6331256b.903b9c",
        "mongodb": "28887bfc.5db4e4",
        "name": "Anomaly data",
        "collection": "anomaly_data",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "410a5e50.1746e",
        "type": "debug",
        "z": "6331256b.903b9c",
        "name": "View Raw DB Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "8b9069d6.66f148",
        "type": "inject",
        "z": "6331256b.903b9c",
        "name": "View data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 600,
        "wires": [
            [
                "29d86d14.f926e2"
            ]
        ]
    },
    {
        "id": "29d86d14.f926e2",
        "type": "mongodb in",
        "z": "6331256b.903b9c",
        "mongodb": "28887bfc.5db4e4",
        "name": "mongo data",
        "collection": "raw_published_data",
        "operation": "find",
        "x": 410,
        "y": 600,
        "wires": [
            [
                "410a5e50.1746e"
            ]
        ]
    },
    {
        "id": "99cbfe0c.32b23",
        "type": "mqtt-broker",
        "name": "Test",
        "broker": "localhost",
        "port": "5000",
        "clientid": "test",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "28887bfc.5db4e4",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "node-red-db",
        "name": "node-red-db"
    }
]