IoT Devices_Networking/Week3/nodered1.json
[
    {
        "id": "5be6331d.6ff3ec",
        "type": "tab",
        "label": "Basic Node-red Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "63bdbf1c.d4c7a",
        "type": "inject",
        "z": "5be6331d.6ff3ec",
        "name": "Basic Flow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Data",
        "payloadType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "e51ee575.d8f2f8"
            ]
        ]
    },
    {
        "id": "13944a85.946635",
        "type": "debug",
        "z": "5be6331d.6ff3ec",
        "name": "raw data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 260,
        "wires": []
    },
    {
        "id": "e51ee575.d8f2f8",
        "type": "function",
        "z": "5be6331d.6ff3ec",
        "name": "data_logger",
        "func": "var message = {}\nlet current = new Date();\nlet cDate = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();\nlet cTime = current.getHours() + \":\" + current.getMinutes() + \":\" + current.getSeconds();\nlet dateTime = cDate + ' ' + cTime;\nmessage[\"timestamp\"] = dateTime;\nmessage[\"deviceid\"] = \"sensor101\";\nmessage[\"device_type\"] = \"temperature\";\nmessage[\"value\"] = Math.floor((Math.random() * 18) + 18);\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "ad7c6595.0c0258",
                "13944a85.946635"
            ]
        ]
    },
    {
        "id": "ad7c6595.0c0258",
        "type": "switch",
        "z": "5be6331d.6ff3ec",
        "name": "temperature",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "25",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "6435bb2d.04d194"
            ]
        ]
    },
    {
        "id": "6435bb2d.04d194",
        "type": "debug",
        "z": "5be6331d.6ff3ec",
        "name": "anomaly data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    }
]